html, body {
  padding: 0;
  margin: 0;
}

#planetarium-div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  margin: 0;
}

#wwd-div {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#wwd-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: black;
  background-image: url("background.jpg");
}

#intro-msg {
  font-size: 25px;
  font-weight: 800;
  color: white;
  font-family: "Roboto";
  z-index: 3;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

#memo {
  position: absolute;
  right: 3%;
  top: 3%;
  z-index: 0;
  font-family: "Roboto";
  color: white;
  border: 1px solid white;
  border-radius: 5%;
  display: flex;
  flex-flow: row wrap;
  padding: 0.5em;
  width: 20%
}

#red-part, #green-part{
  flex: 1 1 100%;
  display: flex;
  align-items: center;
}

#red-part > p, #green-part > p {
  margin: 0;
  padding: 0.25em 0 0.25em 0.25em;
}

#red, #green {
  min-width: 0.5em;
  min-height: 0.5em;
  border-radius: 50%;
}

#red {
  background-color: tomato;
}

#green {
  background-color: green;
}

body {
  background-color: black;
}

